.flow-pane {
    -fx-background-color: #2A2A2A;
    -fx-padding: 20;
}

.button {
    -fx-background-color: #0d89d1;
    -fx-text-fill: white;
    -fx-background-radius: 4px;
    -fx-font-size: 14px;
    -fx-padding: 8 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0, 0, 2);
}
.button:hover {
    -fx-background-color: #0b78b0;
}

.button-danger {
    -fx-background-color: #dc3545;
    -fx-text-fill: white;
    -fx-background-radius: 4px;
    -fx-font-size: 14px;
    -fx-padding: 8 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0, 0, 2);
}

.text-field {
    -fx-background-color: #2c2f33;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 6, 0.1, 0, 2);
}
