/*Root background for dashboard scene */
.dashboard-root {
    -fx-background-color: #2A2A2A;
}


/* Dashboard GridPane that arranges 3 main widgets */
.dashboard-grid {
    -fx-padding: 20;
}

/* Common styling for all dashboard widgets */
.panel {
    -fx-background-color: #444444;
    -fx-border-color: #555555;
    -fx-border-width: 1.5;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-padding: 15;

/* Shadow effect for widgets over dark background */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0, 4), 6, 0.2, 0, 1);
}

/* Title styling */
.panel-label {
    -fx-font-size: 24px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-style: normal;
    -fx-font-family: "Segoe UI", sans-serif;
}

/* Quick Tips fade transition styling */
.quick-tip-label {
    -fx-font-size: 25px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-view .table-cell {
-fx-alignment: CENTER;
}
.chart-pie-label {
-fx-fill: white;
-fx-font-weight:bold;
}

.chart-legend-item .label{
-fx-text-fill: white;
}


